<div class="container table-container">
    <div class="container-fluid py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="display-5">Pending Orders</h1>
        </div>
    </div>
    <table id="ordersTable" class="table table-striped table-hover table-bordered">
        <thead>
        <th>Order Date</th>
        <th>User</th>
        <th>Actions</th>
        </thead>
        <tbody class="videogame-table-body"></tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/pendingOrders.js"></script>
}

